@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(98.5% 0.002 247.839);
  --foreground: #171717;
  --text-color: oklch(13% 0.028 261.692);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(21% 0.034 264.665);
    --foreground: #ededed;
    --text-color: oklch(96.7% 0.003 264.542);
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply w-full px-4 py-3 rounded-xl 
  border border-gray-950 dark:border-gray-300
  bg-slate-50 dark:bg-slate-800
  text-black dark:text-white placeholder-gray-400 dark:placeholder-gray-500
  focus:border-slate-50 dark:focus:border-slate-800
  focus:outline-none focus:ring-2 focus:ring-amber-500 dark:focus:ring-indigo-500;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-200px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal-in {
  animation: modalIn 0.35s ease-in-out forwards;
}