@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(98.5% 0.002 247.839);
  --foreground: #171717;
  --text-color: oklch(13% 0.028 261.692);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(21% 0.034 264.665);
    --foreground: #ededed;
    --text-color: oklch(96.7% 0.003 264.542);
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
